.#*
*.test
web/styles/**/*.css
web/scripts/**/*.js
web/scripts/**/*.woff2
web/scripts/**/*.woff
node_modules
bower_components
*.png
bench*
cpu.out
mem.out
main
*.db
*.code-workspace
.vscode
*hot-update*
gin-bin
!*/reference_images/*.png
!*/charges/*.png
!*/charges/masks/*.png
*.log
