@import 'variables';
@import 'mixins';

body {
  font-family: 'Raleway';
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Montserrat';
  font-weight: normal;
}

ul, li {
  list-style-type: none;
  font-weight: 100;
}

li {
  border-bottom: 1px solid $silver;
}

li:hover {
  background-color: $dove-gray;
}

.logo {
  color: white;
  text-decoration:none;
  &:hover {
    text-decoration:underline;
  }
}

.key-value {
  font-size: 14px;
  @include flexbox;
  div {
    @include flex;
  }
  div:first-child {
      font-weight: bold;
      text-align: right;
      margin-right: 5px;
  }

}

.flex-container {
  @include flexbox;
}

.flex-item {
  @include flex;
}

.tiny-box-container {
  border-collapse: collapse;
  display: table;
}

.tiny-box-row {
  @include flexbox;
  @include justify-content(center);
  display: table-row;
}

.gene-table {
  display: table;
  .gene {
    display: inline-table;
    padding:5px 0;
    min-width:0px;
    text-transform: lowercase;
  }
}

.tiny-box {
  display:table-cell;
  min-width: 30px;
  min-height: 30px;
  border: 1px solid $dove_gray;
  text-align:center;
}

.being {
}
.being-chromosome {
  @include flexbox;
}

.being-chromosome-gene {
  width:10px;
  height: 10px;
  @include flex;
}
